.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;

  line-height: 20px;
  letter-spacing: 0%;
}
